/*Configutacoes de cores da Nav Bar e do site */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
}
i {
  margin-right: 10px;
}
.navbar-logo {
  padding: 0px;
  color: #fff;
}
.navbar-mainbg {
  background-color: #7a7423;
  padding: 0;
  height: 64px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0;
  margin: 0;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
  font-family: Poppins;
}
#navbarSupportedContent > ul > li.active > a {
  color: #000000;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 15px;
}
.hori-selector .left,
.hori-selector .right {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .left:before,
.hori-selector .right:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #7a7423;
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}
@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0;
    margin-left: 10px;
    border-radius: 25px 0 0 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}

#navbarSupportedContent .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#Home {
  background-color: rgb(255, 255, 255);
  border-radius: 40px 0px 0px 0px;
  padding: 100px;
  height: 90vh;
}
body {
  background-color: #7a7423;
}
#button {
  border-radius: 70px;
  font-size: 16px;
  padding: 6px 20px 6px 20px;

}
#button:hover{
    background-color: #fff;
    color: #000000;
}

.btn-secondaryID:hover{
    background-color: #000000;
    color: #fff;
}


#Home h1 {
  font-weight: 800;
  font-size: 72px;
  font-family: Manrope;
}
#Home h6 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: Poppins;
  font-weight: 300;
}
#Home2 {
  background: url(imgs/livro.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 93vh;

}
#branco {
  padding: 20px 50px 122px 30px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 0px 40px 0px 0px;
}


#Home2 h1 {
  font-weight: 700;
  font-size: 48px;
  font-family: Manrope;
}
#Home2 p {
  font-size: 20px;
  font-family: 'Poppins';
}
#button2 {
  border-radius: 50%;
  padding: 15px 22px 15px 22px;
  font-weight: 700;
}
#lista h1 {
  color: white;
  font-size: 35px;
  text-align: start;
}
#lista p {
  color: white;
  font-size: 20px;
  text-align: start;
}
